__pycache__/
/am/noise.sigmf-data
/am/weird_am.py
/fm/broadcast.sigmf-data
/fm/demod.cf32
/fm/demod.f32
/fm/flag1.png
/fm/weird_fm.py
/fm/solution.py
/fm/part4_bits.bin
/tempest/rfi.sigmf-data
/wifi/ism.sigmf-data
/wifi/combined.png
/wifi/flag1.png
/wifi/rickroll.png
/wifi/solution.py
/wifi/solution.pcap
/wifi/wifi_gen.py
/wifi/wifi_phy_paint_hier.block.yml
/wifi/wifi_phy_paint_hier.py