__pycache__/
/am/noise.sigmf-data
/am/weird_am.py
/fm/broadcast.sigmf-data
/fm/demod.cf32
/fm/demod.f32
/fm/flag1.png
/fm/weird_fm.py
/fm/*.mp3
/fm/solution.py
/fm/part4_bits.bin
/sigid/m17_packet.py
/sigid/m17_packet_solution.py
/sigid/m17_voice.py
/sigid/packet_symbols.f32
/sigid/packet_symbols_padded.f32
/sigid/packet_symbols_solution.f32
/sigid/voice_symbols.s8
/sigid/voice_symbols_padded.s8
/sigid/pagerserver.py
/sigid/sigid3.sigmf-data
/sigid/sigid4.sigmf-data
/sigid/sigid5.sigmf-data
/sigid/sigid6.sigmf-data
/tempest/rfi.sigmf-data
/wifi/ism.sigmf-data
/wifi/combined.png
/wifi/flag1.png
/wifi/rickroll.png
/wifi/solution.py
/wifi/solution.pcap
/wifi/wifi_gen.py
/wifi/wifi_phy_paint_hier.block.yml
/wifi/wifi_phy_paint_hier.py